body{
    background: url("https://www.meslot9.com/images/meslot/index-bg.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}