<div id="carousel-1" class="container my-3">
    <h4 class="my-2 text-md-start text-center px-4">MESLOT 包括來自 50 個陣營的比賽，其中泰國排名第一，並包含所有投注。</h4>
    <div class="owl-carousel">
        <div class="item">
            <img src="https://www.meslot9.com/images/meslot/pro-joker.jpg" alt="">
        </div>
        <div class="item">
            <img src="https://www.meslot9.com/images/meslot/pro-joker.jpg" alt="">
        </div>
        <div class="item">
            <img src="https://www.meslot9.com/images/meslot/pro-joker.jpg" alt="">
        </div>
        <div class="item">
            <img src="https://www.meslot9.com/images/meslot/pro-joker.jpg" alt="">
        </div>
        <div class="item">
            <img src="https://www.meslot9.com/images/meslot/pro-joker.jpg" alt="">
        </div>
        <!-- Add more items as needed -->
    </div>
</div>

<style>
    #carousel-1{
        color: white;
    }

    .item{
        max-height: 200px;
        object-fit: contain;
    }

    .item img{
        width: 100%;
        height: 200px;
        border-radius: 15px;
        object-fit: cover;
    }
</style>
  
<script>
    $(document).ready(function(){
        $(".owl-carousel").owlCarousel({
            loop: true,
            autoplay: true,
            autoplayTimeout: 2000,
            margin: 10,
            responsiveClass: true,
            responsive: {
            0: {
                items: 1,
                nav: true
            },
            600: {
                items: 3,
                nav: false
            },
            1000: {
                items: 3,
                loop: false
            }
            }
        });
    });

</script>