<section id="content-1" class="bg-light">
    <div id="" class="container">
        <div class="row ">
            <div class="">
                <div class="text-center my-5">
                    <h3 class="display-9 fw-bolder"><span class="text-gradient d-inline">MESLOT 最好的線上賭場 已被世界各地的合作夥伴所接受 我們將來自澳門的真實賭場系統直接帶給您。</span></h3>
                    <div class="flex flex-row justify-content-center">
                        <div class="text-center w-8/12 md:text-base text-sm">
                            <p class="lead fw-light mb-4">還有金融合作夥伴。透過以下方式促成交易 加密貨幣 有了自動化系統，無論是BTC、ETH、USDT，交易都可以快速完成。</p>
                        </div>
                    </div>
                    <div class="flex flex-row justify-center">
                        <img id="content-1-img" src="https://storage.googleapis.com/meslotvip_cdn/frontend/meslot/homepage/hot-game-banner.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    #content-1{
        background: url("https://www.meslot9.com/images/meslot/bg-content-slot.jpeg");
        color: white;
    }

    #content-1-img{
        width: 100%;
        height: auto;
    }
</style>