<section id="content-12" class="">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 mt-3 pt-lg-0">
            <div class="content-12-container container mb-3">
                <div class="row justify-content-start">
                    <div class="col-md-2 col-12 m-1">
                        <h4 class="content-12-container-title">รวมโปรสล็อต</h4>
                        <ul>
                            <li><a href="">ฝาก10รับ100</a></li>
                            <li><a href="">ฝาก10รับ100</a></li>
                            <li><a href="">ฝาก10รับ100</a></li>
                            <li><a href="">ฝาก10รับ100</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-12 m-1">
                        <h4 class="content-12-container-title">รวมโปรสล็อต</h4>
                        <ul>
                            <li><a href="">ฝาก10รับ100</a></li>
                            <li><a href="">ฝาก10รับ100</a></li>
                            <li><a href="">ฝาก10รับ100</a></li>
                            <li><a href="">ฝาก10รับ100</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-12 m-1">
                        <h4 class="content-12-container-title">รวมโปรสล็อต</h4>
                        <ul>
                            <li><a href="">ฝาก10รับ100</a></li>
                            <li><a href="">ฝาก10รับ100</a></li>
                            <li><a href="">ฝาก10รับ100</a></li>
                            <li><a href="">ฝาก10รับ100</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      </div>
      

    </div>
  </section>

<style>
    #content-12{
        color: white;
        background-color: #2b1c40;
    }

    #content-12-title{
        max-width: 500px;
    }

    .content-12-card{
        /* min-width: 200px; */
        border-radius: 15px;
        min-height: 270px;
        background: linear-gradient(180deg,#734cb3,#432671);
    }

    .content-12-container-title{
        color: #FBBF24;
    }

    .content-12-container li a{
        text-decoration: none;
        color: white;
    }
</style>