<section id="content-4" class="content-4">
    <div class="container">
      <div class="row justify-center">
            <div class="col-span-6 col-lg-5 d-flex align-items-center justify-content-center about-img">
            <img src="https://storage.googleapis.com/meslotvip_cdn/frontend/meslot/seo_section/2.png" class="top-10-ad-img w-[100%] h-[100%] object-cover" alt="" data-aos="zoom-in">
            </div>
            <div class="col-lg-6 mt-5 pt-lg-0">
                <div class="card content-4-card">
                    <div class="card-body">
                        <h5 class="card-title" style="color: #FBBF24; text-align: center;">Meslot，2023 年最佳服務老虎機訓練營獎</h5>
                    </div>
                </div>
                <div class="card content-4-card mt-2">
                    <div class="card-body">
                        <p class="card-text" style="text-align: justify;">Meslot 是一家老虎機公司，憑藉其卓越的服務和獨特的老虎機遊戲種類，在 2023 年取得了令人矚目的成長。今年的最佳老虎機服務獎證實了Meslot擁有提供優質服務的品質和能力。</p>
                    </div>
                </div>
                <div class="card content-4-card mt-2">
                    <div class="card-body">
                        <h5 class="card-title" style="color: #FBBF24; text-align: center;">Meslot，2023 年最佳服務老虎機訓練營獎</h5>
                    </div>
                </div>
                <div class="card content-4-card mt-2">
                    <div class="card-body">
                        <p class="card-text" style="text-align: justify;">Meslot 是一家老虎機公司，憑藉其卓越的服務和獨特的老虎機遊戲種類，在 2023 年取得了令人矚目的成長。今年的最佳老虎機服務獎證實了Meslot擁有提供優質服務的品質和能力。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container my-4">
            <div class="d-flex flex-row justify-content-center">
                <button class="btn btn-primary rounded-pill mx-2 register-btn" type="button">BUtton</button>
                <button class="btn btn-primary rounded-pill login-btn" type="button">Button</button>
            </div>
        </div>

    </div>
  </section>

<style>
    #content-4{
        color: white;
    }

    .content-4-card{
        border-radius: 15px;
        background: linear-gradient(180deg,#7e53c2,#4c2c7e);
    }

    .content-4-img{
        max-width: 100%;
    }

    .register-btn{
        background-image: radial-gradient(100% 100% at 50% 0,#fbc844 0,#f88012 100%);
        border-color: white;
    }

    .login-btn{
        background-image: radial-gradient(100% 100% at 50% 0,#ff7aa7 0,#f11962 44%,#9a0957 100%);
        border-color: white;
    }
</style>