<footer id="footer" class="">
    <div class="container py-4">
      <div class="row justify-content-between">
        <div class="col-md-3">
            <div class="container">
                <h5 class="footer-title">MESLOT เว็บตรงจากมาเก๊า บริการคาสิโนออนไลน์ API ตรงมีใบรับรองทุกค่าย</h5>
                <p class="my-3">คาสิโนสด รองรับทั้ง คอมพิวเตอร์ แท็บเล็ต และมือถือ ios android เล่นเกมส์ง่ายผ่าน HTML5 ไม่ต้องดาวน์โหลด</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <h5 class="footer-title">Terms and Conditions</h5>
                <p class="my-3">Copyright © 2021 MESLOT All Rights Reserved.</p>
            </div>
        </div>
      </div>
    </div>
</footer>

<style>
    #footer{
        color: white;
        background: rgb(35,35,35);
    }

    #footer h5{
        color: rgb(120,197,252);
    }
</style>