<nav class="navbar navbar-expand-lg navbar-light bg-light nav-bg fixed-top">
    <div class="container-fluid">

      <a class="navbar-brand" href="#">
        <img id="nav-logo" src="https://www.meslot9.com/images/meslot-logo.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse me-5" id="navbarSupportedContent">

        <ul class="navbar-nav ms-auto mb-2 me-3 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link me-3 nav-btn text-center" href="#">
              <img class="nav-item-img" src="https://www.meslot9.com/icons/blogging.png" alt="">
              <p>บทความ</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-3 nav-btn text-center" href="#">
              <img class="nav-item-img" src="https://www.meslot9.com/icons/blogging.png" alt="">
              <p>บทความ</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-3 nav-btn text-center" href="#" tabindex="-1">
              <img class="nav-item-img" src="https://www.meslot9.com/icons/blogging.png" alt="">
              <p>บทความ</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-3 nav-btn text-center" href="#" tabindex="-1">
              <img class="nav-item-img" src="https://www.meslot9.com/icons/blogging.png" alt="">
              <p>บทความ</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-3 nav-btn text-center" href="#" tabindex="-1">
              <img class="nav-item-img" src="https://www.meslot9.com/icons/blogging.png" alt="">
              <p>บทความ</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-3 nav-btn text-center" href="#" tabindex="-1">
              <img class="nav-item-img" src="https://www.meslot9.com/icons/blogging.png" alt="">
              <p>บทความ</p>
            </a>
          </li>
        </ul>

        <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary rounded-pill mx-2" id="nav-reg-btn" type="button"> สมัครสมาชิก </button>
            <button class="btn btn-primary rounded-pill" id="nav-login-btn" type="button"> เข้าสู่ระบบ </button>
          </div>
        
      </div>
    </div>
    
  </nav>

<style>
    .nav-bg{
        background: linear-gradient(180deg,#4c326f,#28173f);
        padding-top: 0; 
        max-height: 200px;
    }

    #nav-logo{
      max-width: 200px;
    }

    .nav-item-img{
      max-width: 40px;
    }

    #nav-reg-btn{
      border-width: 1.5px;
      border-color: white;
      background-image: radial-gradient(100% 100% at 50% 0,#fbc844 0,#f88012 100%);
    }

    #nav-login-btn{
      border-width: 1.5px;
      border-color: white;
      background-image: radial-gradient(100% 100% at 50% 0,#ff7aa7 0,#f11962 44%,#9a0957 100%);
    }

    .nav-btn {
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        min-height: 60px;
        margin-top: 0;
        margin-bottom: -20px;
        background: linear-gradient(180deg,#7e53c2,#4c2c7e);
        color: white !important;
    }
</style>